# General
.DS_Store
.AppleDouble
.LSOverride

env/*
env_3.9/*

Assignment4/.ipynb_checkpoints/*
Assignment4/course_materials/notebooks/.ipynb_checkpoints/*
HandsOn/Group16/materialiser-0.3.13.jar
HandsOn/Group16/publisher-0.3.11.jar
HandsOn/Group16/helio-storage/*
